.banner{
    height: 300px;
    margin: 0 auto;
    background:linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.26)), url(../../assets/banner-home.jpg);
    background-size: cover;
    position: relative;
    border-radius: 8px;
}

.banner h2{
    color: #FFFFFF;
    padding: 25px;
    font-size: 35px;
    line-height: 45px;
    margin: 0;
}

.information{
    background: #eee;
    padding: 40px 100px;
}

p, ul, h2, h3{
    width: 100%;
    /* margin: 0 auto; */
    line-height: 20px;
}

h1{
    color: #2483C2;
    font-size: 35px;
    margin-top: 20px;
}

h2{
    color: #2483C2;
}

h3{
    color: #2483C2;
    margin: 40px 0;
    text-align: center;
}

p{
    margin-bottom: 40px;
}

ul li{
    margin-top: 15px;
}

.data{
    font-size: 14px;
    text-align: right;
    font-style: italic;
    margin: 0;
}

.fonte{
    font-size: 14px;
    text-align: right;
    font-style: italic;
    margin: 0;
}


@media screen and (max-width: 1300px) {
    .banner{
        height: 200px;
        margin: 0 auto;
        background-size: cover;
        position: relative;
        border-radius: 8px;
    }
    
    .banner h2{
        color: #FFFFFF;
        padding: 20px 20px;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
    }

    .banner a{
        right: 20px;
        bottom: 20px;
        font-size: 14px;
        text-decoration: none;
        padding: 12px;
    }
}